{% load static %}
<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>HangMan</title>
    <link rel="stylesheet" type="text/css"
        href="{% static 'hangman/css/style_create.css' %}" />
</head>
<body bgcolor=#000055>
    <h1>HangMan</h1>
    <hr>

    <p>問題を作るには作者の登録が必要です。</p>
    
    <form action="{% url 'admin' %}" method="post">
        {% csrf_token %}
        
        {{form.as_p}}

        <p><input type="submit" value="認証"></p>
    </form>
    <p>{{msg}}</p>

    <p><a href="{% url 'register' %}">新規登録</a></p>
    <p><a href="{% url 'index' %}">トップに戻る</a></p>

</body>
</html>